* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.page-action-cont {
  height: 3rem;
  background-color: #218c74;
  display: flex;
  align-items: flex-end;
  padding-left: 1rem;
}

.page-action {
  margin: 0.5rem;
  color: #f1f2f6;
}

.cellprops-action-cont {
  height: 3rem;
  background-color: #ecf0f1;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
.cellprops-action-cont > * {
  display: inline-block;
  margin-right: 1rem;
}
.cellprops-action-cont > select {
  border: none;
  border-radius: 2px;
  outline: none;
}
.font-family-prop {
  padding: 0.2rem;
}
.font-size-prop {
  padding: 0.2rem;
}
.formula-action-cont {
  height: 2rem;
  background-color: #ecf0f1;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}
.formula-action-cont > input {
  border: none;
  outline: none;
  height: 70%;
}
.formula-action-cont > * {
  display: inline-block;
  margin-right: 0.7rem;
}
.formula-icon {
  width: 1.2rem;
}
.address-bar {
  width: 5rem;
  text-align: center;
}
.formula-bar {
  width: calc(100vw - 5rem - 0.7rem - 0.7rem - 0.7rem);
}
.sheet-action-cont {
  height: 3rem;
  background-color: #ecf0f1;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  gap: 1rem;
}
.sheet-action-cont > * {
  display: inline-block;
}
.sheet-add-icon {
  width: 2vw;
}
.sheets-folder-cont {
  height: 80%;
  width: 5rem;

  display: inline-block;
  width: calc(100vw - 2vw);
  display: flex;
  align-items: center;
}
.sheet-folder {
  text-decoration: underline;
  font-weight: bold;
  text-decoration-thickness: 3px;
  font-size: 0.9rem;
}
.grid-cont {
  height: calc(100vh - 3rem - 3rem - 3rem - 2rem);
  background-color: dfe4ea;
  position: relative;
  overflow: scroll;
}
.top-left-dummy-box {
  height: 2rem;
  width: 2rem;
  background-color: #747d8c;
  position: fixed;
  z-index: 4;
}
.address-col-cont {
  position: sticky;
  top: 2rem;
  left: 0;
}
.address-col {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dfe4ea;
}

.cells-cont {
  position: absolute;
  top: 0;
  left: 2rem;
}
.row-cont {
  display: flex;
}
.cell {
  height: 2rem;
  width: 4rem;
  border: 1px solid #dfe4ea;
  display: flex;
  outline: none;
}
.address-row-cont {
  display: flex;
  position: sticky;
  top: 0;
  left: 2rem;
}
.address-row {
  height: 2rem;
  width: 4rem;
  border: 1px solid #dfe4ea;
  display: flex;
  align-items: center;
  justify-content: center;
}
.color-prop {
  position: relative;
}
.color-prop > input{
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}